<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Accesorios Tecnol贸gicos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Tienda de Accesorios Tecnol贸gicos</h1>
            <a href="http://localhost:3000/auth/login" class="btn-login">驴Eres Administrador? </a>
        </div>
    </header>    

    <main>
        <h1>Bienvenido a la Tienda de Accesorios Tecnol贸gicos</h1>
        <% if (categories && categories.length > 0) { %>
            <% categories.forEach(category => { %>
                <section class="category">
                    <h2><%= category.name %></h2>
                    <div class="products">
                        <% category.products.forEach(product => { %>
                            <div class="product">
                                <h3><%= product.name %></h3>
                                <img src="/images/<%= product.imagePath %>" alt="<%= product.name %>" class="product-image">
                                <p>$<%= product.price %></p>
                                <form action="/cart/add" method="post">
                                    <input type="hidden" name="productId" value="<%= product.id %>">
                                    <button type="submit">A帽adir al Carrito </button>
                                </form>                            
                            </div>
                        <% }) %>
                    </div>
                </section>
            <% }) %>
        <% } else { %>
            <p>No hay productos disponibles.</p>
        <% } %>
    </main>

    <footer>
        <p>&copy; 2024 Tienda de Accesorios Tecnol贸gicos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
